@{
    ViewData["Title"] = "Знакомство";
}

<div class="text-center">
    <h3>Знакомство с гипермедийными системами на ASP.NET Core 8.0</h3>
    <p>Приложение к статье. Текст статьи расположен на 
        <a href="https://habr.com/ru/articles/846850/">Хабре</a>.
    </p>
</div>

<div>
    @* Добавить гипермедийную кнопку *@
    <button class="btn btn-success mb-3"
            hx-get="/home/message" 
            hx-target="#message">
        Получить сообщение
    </button>
    @* Добавить элемент отображения сообщения *@
    <div id="message">
    </div>
</div>